<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/cloud.css">
        <script src="/js/cloud.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="cloud"></div>
        </div>
    </body>
    
</html>
